html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

header {
    background-color: #443C3C;
    color: #F9F9F9;
}

.todo, .todo:hover, .todo:active, .todo:link, .todo:visited {
    color: #F9F9F9;
}

body {
    margin-bottom: 60px;
    background: lightgrey;
    color: #1A120B;
}

.username {
    font-size: 27px;
    font-weight: 500;
    padding-left: 13px;
}

.login_box {
    background: ghostwhite;
    border-radius: 14px;
    border-width: 27px;
    border-color: black;
    margin-right: 891px;
    margin-top: 73px;
    min-width: 406px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.login_input {
    background: transparent;
    margin-left: 11px;
    margin-top: 3px;
    margin-bottom: 18px;
    border: 0;
    width: 393px;
}

.login_input::placeholder {
    color: #1A120B;
    opacity: 0.5;
}

.login_input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.password {
    font-size: 27px;
    font-weight: 500;
    padding-left: 13px;
}

.password_box {
    margin-top: 20px;
    background: ghostwhite;
    border-radius: 14px;
    border-width: 27px;
    border-color: black;
    margin-right: 891px;
    margin-top: 50px;
    min-width: 406px;
}

.password_box:hover {
    border-color: black;
    border-width: 5px;
}

.password_input {
    background: transparent;
    margin-left: 11px;
    margin-top: 3px;
    margin-bottom: 18px;
    width: 393px;
    border: 0;
}

.password_input::placeholder {
    color: #1A120B;
    opacity: 0.5;
}

.password_input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.login_button {
    margin-top: 83px;
    background: #D5B4B4;
    border-radius: 30px;
    margin-left: -5px;
    font-size: 20px;
    border-color: transparent;
    padding: 14px;
}

.forgot_password_button {
    background: #F5EBEB;
    border-radius: 30px;
    font-size: 20px;
    padding: 14px;
    margin-top: 13px;
    margin-left: 98px;
    border-color: transparent;
}

.registration_password_button {
    background: #E4D0D0;
    color: #1A120B;
    margin-left: 205px;
    font-size: 20px;
    border-color: transparent;
    padding: 14px;
    position: absolute;
    width: fit-content;
    margin-top: -61px;
    border-radius: 30px;
}

.login_button:hover {
    background: #D5B4B4;
    margin-top: 83px;
    border-radius: 30px;
    margin-left: -5px;
    font-size: 20px;
    padding: 14px;
    border-color: black;
    color: white;
    border-width: 3px;
    transition: ease-in-out;
    filter: drop-shadow(11px 7px 8px rgba(0, 0, 0, .25));
}

.forgot_password_button:hover {
    background: #E4D0D0;
    border-radius: 30px;
    font-size: 20px;
    border-radius: 30px;
    padding: 14px;
    margin-top: 13px;
    margin-left: 98px;
    border-color: black;
    color: white;
    border-width: 3px;
    filter: drop-shadow(11px 7px 8px rgba(0, 0, 0, .25));
}

.registration_password_button:hover {
    background: #E4D0D0;
    color: #1A120B;
    margin-left: 205px;
    font-size: 20px;
    padding: 14px;
    border-color: black;
    border-width: 3px;
    filter: drop-shadow(11px 7px 8px rgba(0, 0, 0, .25));
    position: absolute;
    width: fit-content;
    margin-top: -61px;
}

.login_register_title {
    margin-left: 14px;
    font-size: 29px;
}

.firstname_register_title {
    margin-left: 14px;
    font-size: 29px;
}

.lastname_register_title {
    margin-left: 14px;
    font-size: 29px;
}

.password_register_title {
    margin-left: 14px;
    font-size: 29px;
}

.password_confirm_register_title {
    margin-left: 14px;
    font-size: 29px;
}

.login_register_container {
    background-color: white;
    border-radius: 30px;
    max-width: 500px;
    min-width: 300px;
    padding: 15px;
}

.email_register_container {
    background-color: white;
    border-radius: 30px;
    max-width: 500px;
    min-width: 300px;
    padding: 15px;
    margin-bottom: 12px;
}

.firstname_register_container {
    background-color: white;
    border-radius: 30px;
    max-width: 500px;
    min-width: 300px;
    padding: 15px;
    margin-top: 15px;
}

.lastname_register_container {
    background-color: white;
    border-radius: 30px;
    max-width: 500px;
    min-width: 300px;
    padding: 15px;
    margin-top: 15px;
}

.password_register_container {
    background-color: white;
    border-radius: 30px;
    max-width: 500px;
    min-width: 300px;
    padding: 15px;
    margin-top: 15px;
}

.password_confirm_register_container {
    background-color: white;
    border-radius: 30px;
    max-width: 500px;
    min-width: 300px;
    padding: 15px;
    margin-top: 15px;
}

.login_form-control {
    padding-top: 4px;
    border-color: transparent;
    color: grey;
    font-size: 22px;
    width: 466px;
}

.email_form-control {
    padding-top: 4px;
    border-color: transparent;
    color: grey;
    font-size: 22px;
    width: 466px;
}

.firstname_form-control {
    padding-top: 4px;
    border-color: transparent;
    color: grey;
    font-size: 22px;
    width: 466px;
}

.lastname_form-control {
    padding-top: 4px;
    border-color: transparent;
    color: grey;
    font-size: 22px;
    width: 466px;
}

.password_form-control {
    padding-top: 4px;
    border-color: transparent;
    color: grey;
    font-size: 22px;
    width: 466px;
}

.confirm_password_form-control {
    padding-top: 4px;
    border-color: transparent;
    color: #D5B4B4;
    font-size: 22px;
    width: 466px;
}

.text-danger {
    font-size: 16px;
    border-radius: 10px;
    padding: 4px
}

.page_register_button {
    background-color: #E4D0D0;
    border-radius: 30px;
    font-size: 20px;
    border-color: transparent;
    padding: 15px;
    margin-top: 15px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #443C3C;
    color: #F9F9F9;
    padding: 1rem;
}

/*.task-body {*/
/*    margin-bottom: 60px;*/
/*    background: white;*/
/*}*/

.task-body {
    margin-bottom: 60px;
    background: #f8f9fa;
    color: #1A120B;
}

.task-container {
    margin: 10px 0;
}

.task-rectangle {
    border-radius: 30px;
    border: 1px solid #9D8F8F;
    padding: 10px;
    background: #9D8F8F;
    color: #1A120B;
    height: 140px;
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-name {
    margin: 0;
}

.task-deadline {
    margin: 0;
    font-style: italic;
}

.task-description {
    margin: 10px 0;
    background: #9D8F8F;
    color: #1A120B;
}

.task-buttons {
    display: table-row;

}

.add-subtask-button {
    font-size: 1.2em;
    font-weight: bold;
    background-color: #9D8F8F;
    color: #625757;
    border: none;
    cursor: pointer;
}

.show-subtasks-button {
    font-size: 1.2em;
    font-weight: bold;
    background-color: #9D8F8F;
    color: #4A403A;
    border: none;
    cursor: pointer;
}

.subtasks-container {
    margin-top: 10px;
    display: none;
    padding-left: 3%;
}

.subtask-container {
    margin: 10px 0;
    padding-left: 3%;
}

.subtask-rectangle {
    border-radius: 30px;
    border: 1px solid #9D8F8F;
    padding: 10px;
    background: #9D8F8F;
    color: #1A120B;
}

.subtask-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtask-name {
    margin: 0;
}

.subtask-description {
    margin: 10px 0;
    background: #9D8F8F;
    color: #1A120B;
}

.reset_password_login_box {
    background-color: ghostwhite;
    max-width: 500px;
    padding: 15px;
    border-radius: 30px;
}

.reset_password_login_title {
    color: #1A120B;
    font-size: 25px;
}

.reset_password_login_input {
    border: 0;
    font-size: 15px;
    background-color: ghostwhite;
}

.reset_password_password_box {
    background-color: ghostwhite;
    max-width: 500px;
    padding: 15px;
    border-radius: 30px;
    margin-top: 15px;
}

.reset_password_password_title {
    color: #1A120B;
    font-size: 25px;
}

.reset_password_password_input {
    border: 0;
    font-size: 15px;
    background-color: ghostwhite;
}

.confirm_reset_password_box {
    background-color: ghostwhite;
    max-width: 500px;
    padding: 15px;
    border-radius: 30px;
    margin-top: 15px;
}

.confirm_reset_password_title {
    color: #1A120B;
    font-size: 25px;
}

.confirm_reset_password_input {
    border: 0;
    font-size: 15px;
    background-color: ghostwhite;
}

.confirm_button {
    padding: 14px;
    border-radius: 30px;
    background-color: #D5B4B4;
    font-size: 20px;
    border-color: transparent;
    margin-top: 15px;
    margin-left: 86px;
}

.confirm_button:hover {
    padding: 14px;
    border-radius: 30px;
    background-color: #E4D0D0;
    font-size: 20px;
    border-color: black;
    border-width: 3px;
    color: white;
    filter: drop-shadow(11px 7px 8px rgba(0, 0, 0, .25));
    margin-top: 15px;
    margin-left: 86px;
}

.filter_select {
    display: flex;
    justify-content: space-between;
    color: #867070;
}

.btn-toolbar {
    color: white;
}

.create-button{
    color: #f8f9fa;
    background-color: #443C3C;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    margin: 0 auto;
}

.Theme_btns {
    display: flex;
    align-items: center;
}

.login_lable {
    margin-bottom: -50px;
}