@model TO_DO_List.Models.User.ResetPasswordUserViewModel

<h2 class="reserPasswordTitle">Відновлення паролю</h2>
<html>
<body>
	<form asp-controller="User" asp-action="ResetPassword" method="post">
		<div class="reset_password_login_box">
			<label class="reset_password_login_title" asp-for="Login">Логін користувача:</label>
		
		<div>
			<input class="reset_password_login_input" asp-for="Login" placeholder="Введіть ваш логін..." />
			<span asp-validation-for="Login"></span>
			</div>
		</div>
		<div class="reset_password_password_box">
			<label class="reset_password_password_title" asp-for="Password">Новий пароль</label>
		
		<div>
			<input class="reset_password_password_input" asp-for="Password" placeholder="Введіть новий пароль..." />
			<span asp-validation-for="Password"></span>
			</div>
		</div>
		<div class="confirm_reset_password_box">
			<label class="confirm_reset_password_title" asp-for="ConfirmPassword">Введіть новий пароль ще раз</label>
		
		<div>
			<input class="confirm_reset_password_input" asp-for="ConfirmPassword" placeholder="Підтвердіть новий пароль..." />
			<span asp-validation-for="ConfirmPassword"></span>
			</div>
		</div>
		<button class="confirm_button" type="submit" onclick="alert('Перейдіть за посиланням в пошті, щоб підтвердити зміну паролю')">Підтвердити новий пароль</button>
	</form>
</body>
</html>