@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<body>
    <link rel="stylesheet" href="styles.css" />
    <div class="login_box">   
        <div>
            <label class="username" for="username">Login:</label>
        </div>
        <div>  
            <input class = "login_input" type="text" id="username" name="username" placeholder="Enter your name..." />
        </div>
    </div>
    <div class="password_box">
        <div>
        <label class="password" for="password">Password:</label>
        </div>
        <div>    
            <input class="password_input" type="password" id="password" name="password" placeholder="Enter your password..." />
        </div>
    </div>
        <button class = "login_button" type="submit">Log in</button>
        <button class="forgot_password_button" type="submit">Forgot password</button>
  
</body>
</html>
